@charset "utf-8";

.portion {
    color: #999999;
    font-size: 8px;
}

#footer_one {
    margin-top:10px;padding-left:30px
}

.uk-list a {
    color: #333333;
}

.height {
    margin-top: 44px;
    font-family: '宋体'；;
}

.footer {
    margin-top: 80px;
}

    .footer a {
        color: #333333;
        font-size: 14px;
        letter-spacing: 1px;
    }

#footer_one h4 {
    color: #666666;
}

#big_box {
    background: #fff;
    font-family: "微软雅黑";
}

#footer a:hover {
    color: #c40000;
}

#footer_one li {
    line-height: 27px;
}

.footer_block {
    margin-right: 30px;
}

.footer_left_ime_box img {
    float: left;
    margin-right: 10px;
}

.footer_right_ime_box img {
    margin-left: 10px;
    float: left;
}
.footerByBox{
    width: 1200px; margin: 0 auto; color: #000; padding-top: 29px; padding-bottom: 0px; padding-left:0
}
.bottomByFooter{
    width: 1200px; margin: 0 auto;overflow:hidden;" class="bottomByFooter
}
.completeName{
    font-family: 微软雅黑; color: #999; font-size: 14px; letter-spacing: 1px; text-indent: 0px;
}